.filt-konteiner {
    display: flex;
    justify-content: space-between;
    background-color: #181818;
    border-radius: 10px;
    padding: 2em;
    align-items: center;
    width: 100%;
    height: 8em;
}

.sisu {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    padding-bottom: 5em;
}   

.sisu h1 {
    justify-self: start;
    font-size: 2em;
}

.vorm-paar {
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 100%;
    gap: 0.5em;
}

.vorm-paar label {
    font-size: 1.2em;
    font-weight: 500;
}

.vorm-paar input {
    width: 100%;
}

.broneeri-nupp {
    background-color: #242424;
    padding: 1.2em;
    height: 100%;
}

.lennud-konteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    margin-top: 1em;
}

.lend-konteiner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #181818;
    padding: 1em;
    border-radius: 10px;
    align-items: center;
}

.lend span {
    font-size: 1.2em;
    font-weight: 500;
}

.nool {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.paremale {
    transform: rotate(-45deg);
}

.alla {
    transform: rotate(45deg);
}

.lend {
    display: flex;
    gap: 1em;
    align-items: center;
}

.kuupaev {
    margin-left: 1em;
}

.logo-pilt {
    width: 50;
    height: 50px;
    margin-right: 1em;
}

.bg {
    background-color: #181818;
}

.broneerimine {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 4em;
}

.lennuki-siluett {
    display: flex;
    flex-direction: column;
    transform: translateY(-35%);
    width: 340px;
    height: 1000px;
}

.nina {
    width: 100%;
    aspect-ratio: 1 / 3;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background-color: #181818;
}

.saba {
    width: 100%;
    aspect-ratio: 1 / 2;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background-color: #181818;
    transform: translateY(-820px);
}

.istmed-konteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
    padding: 15px;
    aspect-ratio: 1 / 3.5;
    background-color: #181818;
    z-index: 1;
    transform: translateY(-490px);
}

.istme-sektsioon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 43%;
    height: 48%;
    aspect-ratio: 1 / 2;
}

.istekoht {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    border-radius: 5px;
    width: 2.5em;
    height: 2.5em;
    color: rgb(187, 187, 187);
}

.hoivatud {
    background-color: #242424;
}

.sobiv {
    background-color: #47844b;
}

.mitte-sobiv {
    background-color: #a83232;
}

.kehv {
    background-color: #9e931b;
}

.valitud {
    background-color: #29502c;
    border-style: solid;
    border-color: rgb(187, 187, 187);
    border-width: 2px;
}

.istekoht:hover {
    cursor: pointer;
    background-color: #535bf2;
}

.hoivatud:hover {
    cursor: not-allowed;
    background-color: #242424;
}

.eelistused-konteiner {
    width: 40%;
    padding: 2em;
    background-color: #181818;
    border-radius: 10px;
    margin-top: 20vh;
}

.eelistused {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.eelistused input:hover {
    cursor: pointer;
}

.algus, .algus:hover {
    background-color: #242424;
    color: #242424;
    cursor: initial;
}

.algus span {
    display: none;
}

.eelistused button {
    padding: 1em;
}